
p{
    font-size: small;
}
.left-frist{
position: absolute;
    
    top:30px;
    left: 150px;
}
.left-second{
    position: absolute;
    left: 40px;
    top: 190px;
}
.left-third{
    position: absolute;
    
        bottom: 20px;
        left: 190px;
}
.right-frist{
position: absolute;
    
    top:30px;
    right: 150px;
}
.right-second{
    position: absolute;
    right: 40px;
    top: 190px;
}
.right-third{
    position: absolute;
    
        bottom: 20px;
        right: 190px;
}
/* frequently asqing................................... */
.Frequently-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}


.Frequently-top h1 {
    color: #1D1D1D;
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;


}





.Frequently-top p {
    text-align: center;
    width: 600px;
    color: #777;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;


}

.Frequently {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}


.all-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.frist-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 880px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px 13px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 5s all ease;
}

.frist-detail h1 {
    color: #4A4A4A;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;


}


.frist-detail:hover p {
    display: block;
    transition: .5s all ease;
}

.p p {
    color: #777;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: none;
}

.p-p p {
    color: #777;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}
.pic{
    .Frequently-top{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}


.Frequently-top h1 {
    color: #1D1D1D;
    text-align: center;
    font-family: Poppins;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 20px;


}





.Frequently-top p{
    text-align: center;
  width: 600px;
color: #777 ;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  
    
}
.Frequently{ width: 100%;
    display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
}


.all-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
margin: 0 auto;
} 

.frist-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 880px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px 13px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 5s all ease;
}

.frist-detail h1 {
color:  #4A4A4A;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;


}
.frist-detail:hover p {
    display: block;
    transition: .5s all ease;
}

.p p {
color:  #777;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
   display: none;
}
.p-p p {
color:  #777;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
}
.pic{
    clip-path: polygon(0 0, 100% 0, 100% 43%, 0 72%);
}
.card-position{
    position: absolute;
    top: 30%;
    left: 20%;
}